@import './styles/header.css';
@import './styles/explore.css';
@import './styles/newWay.css';
@import './styles/destinations.css';
@import './styles/testimonials.css';
@import './styles/trending.css';
@import './styles/footer.css';
@import './styles/guides.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --orange: #fb8f1d;
  --dark-gray: #202336;
  --gray: #7d7987;
  --white-gray: #f9f9fb;
  --light-gray: #c4c4c4;
  --heavy-gray: #848484;
  --blue-gray: #b8becd;
}

html,
body {
  padding: 0;
  margin: 0 auto 0 auto;
  max-width: 1660px;
}

header,
main {
  padding: 19px 105px 0 90px;
}

a,
a:active,
a:hover {
  cursor: pointer;
  color: black;
}

main p,
span {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

blockquote {
  margin: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: black;
}

button {
  border: 1px solid var(--orange);
  border-radius: 8px;
  background-color: var(--orange);
  padding: 8px 46px;
  color: white;
  mix-blend-mode: normal;
  cursor: pointer;
  min-height: 44px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
}

button:hover {
  opacity: 0.8;
}

h1 {
  color: var(--dark-gray);
  font-weight: 700;
  line-height: 80px;
  font-size: 68px;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  margin: 0;
}

.select_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #e9e9e9;
  width: 200px;
}

select {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  min-width: 90%;
}

p {
  margin: 0;
}
