.destinations_section {
  position: relative;
}

.destinations_section::before {
  background-image: url('../assets/plusIcon.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 28%;
}

.destinations_section::after {
  background-image: url('../assets/ring.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 24px;
  top: -10%;
  right: 20%;
}

.destinations {
  margin: 0 0 232px 94px;
}

.destinations_head {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}

.destinations_head h2 {
  margin-right: auto;
}

.destinations_head p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--orange);
}

.destinations_head p:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.5s ease;
}

.destinations_cards {
  display: flex;
  align-items: center;
  overflow: scroll;
  justify-content: space-between;
}

.destinations_card_img {
  max-width: 262px;
  max-height: 332px;
  border-radius: 8px;
  margin-right: 24px;
}

.destinations_card_description {
  padding: 4px 4px;
  background-color: white;
  position: absolute;
  border-radius: 0 8px;
  bottom: 0;
}

.destinations_card_description p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 4px 0;
}

.destinations_card_description span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: var(--gray);
  margin: 4px 0;
}

.destinations_card {
  position: relative;
}
