.explore_section {
  position: relative;
}

.explore_section::before {
  background-image: url('../assets/ring.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 45%;
}

.explore_section::after {
  background-image: url('../assets/ring.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 45%;
  bottom: 5%;
  width: 20px;
  height: 20px;
}

.explore_section_img_thousand {
  max-width: 688px;
  max-height: 654px;
}

.explore_section_img_ring {
  position: absolute;
  right: 45%;
  bottom: 5%;
  max-width: 20px;
  max-height: 20px;
}

.explore_title_wrapper img {
  max-width: 20px;
  max-height: 20px;
}

.explore {
  display: flex;
  align-items: center;
  margin: 0 0 334px 0;
}

.explore_title_wrapper {
  display: flex;
  margin: 0 60px 0 0;
}

.explore_wrapper {
  margin-left: 90px;
}

.explore h1 {
  margin-bottom: 50px;
}

.explore div {
  margin-right: auto;
}

.explore_and_travel {
  display: flex;
}

.explore_select_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 52px;
}

.explore_holiday_finder {
  color: var(--dark-gray);
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 20px;
}

.explore_finder_bottom_border {
  height: 2px;
  width: 32px;
  background-color: var(--dark-gray);
  margin-bottom: 48px;
}
