footer {
  background-color: var(--white-gray);
  padding: 78px 126px 78px 90px;
}

footer img {
  margin-bottom: 26px;
}

.footer_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.footer_list div {
  max-width: 391px;
}

.footer_list p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: var(--heavy-gray);
  mix-blend-mode: normal;
}

ul {
  margin: 0;
  list-style: none;
}

li {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: var(--heavy-gray);
  cursor: pointer;
}

li:hover {
  color: black;
}

footer ul li:first-child {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: black;
}

hr {
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
  margin-bottom: 36px;
}

.footer_links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_links img:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.5s ease;
}

.footer_links img {
  max-width: 24px;
  max-height: 20px;
  margin-right: 36px;
}

.footer_list_description {
  margin-bottom: 56px;
}
