.guides {
  display: flex;
  align-items: center;
  margin: 0 0 292px 96px;
  position: relative;
}

.guides::before {
  background-image: url('../assets/plusIcon.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 30%;
  left: 50%;
}

.guides::after {
  background-image: url('../assets/ring.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 10%;
  top: 0;
}

.guides h2 {
  margin-bottom: 20px;
}

.guides_content_wrapper {
  max-width: 481px;
}

.guides_content {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: var(--gray);
  margin-bottom: 40px;
}

.guides_img_thousandGuides {
  max-width: 660px;
  max-height: 534px;
  margin-left: auto;
}
