header {
  display: flex;
  align-items: center;
  margin: 0 0 80px 96px;
}

.header_icon:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.5s ease;
}

.header button {
  margin-right: 18px;
}

.header_nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: var(--blue-gray);
  margin-right: 36px;
}

.header_nav li:first-child > a {
  color: black;
}

.header_nav_item {
  color: var(--blue-gray);
  margin-right: 36px;
}

.header_btn_login {
  border: 1px solid var(--orange);
  border-radius: 8px;
  background-color: white;
  padding: 8px 46px;
  color: var(--orange);
  mix-blend-mode: normal;
}

.header_btn_login:hover {
  border: 1px solid var(--orange);
  border-radius: 8px;
  background-color: var(--orange);
  padding: 8px 46px;
  color: white;
  mix-blend-mode: normal;
  cursor: pointer;
}
