.newWay {
  display: flex;
  align-items: center;
  margin: 0 0 292px 96px;
  position: relative;
}

.newWay::before {
  background-image: url('../assets/plusIcon.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 0;
}

.newWay::after {
  background-image: url('../assets/ring.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 7%;
  bottom: 27%;
}

.newWay img:first-child {
  max-width: 660px;
  max-height: 534px;
  margin-right: auto;
}

.newWay_content_wrapper {
  max-width: 482px;
}

.newWay_content_wrapper h2 {
  margin-bottom: 20px;
}

.newWay_content {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: var(--gray);
  margin-bottom: 40px;
}

.newWay div:first-child {
  max-width: 482px;
  margin-right: auto;
}
