.testimonials_section {
  position: relative;
}

.testimonials_section::before {
  background-image: url('../assets/ring.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 50%;
}

.testimonials h2 {
  margin-bottom: 20px;
}

.testimonials {
  margin: 0 0 286px 96px;
  position: relative;
}

.testimonials_wrapper {
  display: flex;
  align-items: center;
}

.testimonials_content {
  max-width: 452px;
  margin-right: auto;
}

.testimonials_content p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
}

.testimonials_content span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.85);
}

.testimonials_content_stars {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.testimonials_content_star {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.testimonials_content_star:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.5s ease;
}

.testimonials_slide_buttons {
  position: absolute;
  z-index: 2;
  bottom: 0;
  background-color: white;
  padding: 20px 6px 0 20px;
  right: 0;
  border-radius: 8px 0;
}

.testimonials_img_men_wrapper {
  position: relative;
}

.testimonials_img_men {
  position: relative;
  z-index: 1;
  max-width: 384px;
  max-height: 492px;
  border-radius: 14px;
}

.testimonials_img_men_wrapper::before {
  background-image: url('../assets/ring.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -16px;
  top: -16px;
  width: 42px;
  height: 42px;
}
.testimonials_img_men_wrapper::after {
  background-image: url('../assets/plusIcon.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -14px;
  left: -18px;
  z-index: 2;
  width: 42px;
  height: 42px;
}

.testimonials_slide_buttons_prevIcon {
  margin-right: 16px;
}
