.trending_section {
  position: relative;
}

.trending {
  margin: 0 0 272px 96px;
}

.trending_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.trending_card {
  max-width: 262px;
  margin-right: 18px;
}

.trending_card img {
  width: 262px;
  height: 230px;
  border-radius: 8px 8px 0 0;
}

.trending_card_description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 13px;
}

.trending_card_readMore {
  color: var(--orange);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.trending_card span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
  margin-bottom: 23px;
}

.trending_card_readMore:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.5s ease;
}

.trending_section::before {
  background-image: url('../assets/plusIcon.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 60%;
  top: -10%;
  z-index: 2;
  width: 24px;
  height: 24px;
}

.trending_section::after {
  background-image: url('../assets/ring.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 24%;
}

.trending_section::after {
  background-image: url('../assets/ring.png');
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 66%;
  bottom: -14%;
}
